@model int

<div class="col-lg-2 order-lg-last d-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a id="basket-count" class="nav-link text-dark" asp-area="" asp-controller="Basket" asp-action="Index">🛒 Basket (@Model)</a>
        </li>
    </ul>
</div>
