<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">

                    <a href="#" style="font-weight:inherit; text-decoration:inherit; color:inherit; cursor:inherit;">
                        <img src="https://m.media-amazon.com/images/I/51c+T7XynwL._AC_SX569_.jpg" class="bd-placeholder-img card-img-top" focusable="false" />
                    
                        <div class="card-body">
                            <p class="card-text">Maroon t-shirt, men.</p>
                        </div>
                    </a>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to wishlist</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to basket</button>
                            </div>
                            <small class="text">£12.99</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">

                    <a href="#" style="font-weight:inherit; text-decoration:inherit; color:inherit; cursor:inherit;">
                        <img src="https://ljworkwear.co.uk/wp-content/uploads/2021/02/BA863F_BURGUNDY_FRONT.jpg" class="bd-placeholder-img card-img-top" focusable="false" />

                        <div class="card-body">
                            <p class="card-text">Maroon t-shirt, women.</p>
                        </div>
                    </a>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to wishlist</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to basket</button>
                            </div>
                            <small class="text">£11.99</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <a href="#" style="font-weight:inherit; text-decoration:inherit; color:inherit; cursor:inherit;">
                        <img src="https://www.charlestyrwhitt.com/dw/image/v2/AAWJ_PRD/on/demandware.static/-/Sites-ctshirts-master/default/dw903880ff/hi-res/CSR2125CLK_MODEL_UNTUCKED.jpg?sw=960&sh=1200" class="bd-placeholder-img card-img-top" focusable="false" />

                        <div class="card-body">
                            <p class="card-text">Maroon shirt, button down collar.</p>
                        </div>
                    </a>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to wishlist</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to basket</button>
                            </div>
                            <small class="text">£20.99</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <a href="#" style="font-weight:inherit; text-decoration:inherit; color:inherit; cursor:inherit;">
                        <img src="https://img.ltwebstatic.com/images3_pi/2024/07/01/cb/1719820119df28a586ea313bb1b1a3bd9f9185ac0e_thumbnail_900x.webp" class="bd-placeholder-img card-img-top" focusable="false" />

                        <div class="card-body">
                            <p class="card-text">Maroon shirt, tailored fit.</p>
                        </div>
                    </a>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to wishlist</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to basket</button>
                            </div>
                            <small class="text">£25.99</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <a href="#" style="font-weight:inherit; text-decoration:inherit; color:inherit; cursor:inherit;">
                        <img src="https://m.media-amazon.com/images/I/61KMBZJEDFL._AC_SY606_.jpg" class="bd-placeholder-img card-img-top" focusable="false" />

                        <div class="card-body">
                            <p class="card-text">Maroon shirt, men</p>
                        </div>
                    </a>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to wishlist</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to basket</button>
                            </div>
                            <small class="text">£19.99</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <a href="#" style="font-weight:inherit; text-decoration:inherit; color:inherit; cursor:inherit;">
                        <img src="https://m.media-amazon.com/images/I/61poQznp0PL._AC_SX466_.jpg" class="bd-placeholder-img card-img-top" focusable="false" />

                        <div class="card-body">
                            <p class="card-text">Maroon blazer.</p>
                        </div>
                    </a>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to wishlist</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to basket</button>
                            </div>
                            <small class="text">£29.99</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <a href="#" style="font-weight:inherit; text-decoration:inherit; color:inherit; cursor:inherit;">
                        <img src="https://litb-cgis.rightinthebox.com/images/1500x1500/202303/bps/product/inc/ufprqb1678875625713.jpg" class="bd-placeholder-img card-img-top" focusable="false" />

                        <div class="card-body">
                            <p class="card-text">Maroon gothic jacket.</p>
                        </div>
                    </a>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to wishlist</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to basket</button>
                            </div>
                            <small class="text">£35.99</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <a href="#" style="font-weight:inherit; text-decoration:inherit; color:inherit; cursor:inherit;">
                        <img src="https://www.jamesalexander.co.uk/images/twill_mens_clip_on_tie_burgundy_2-510x510.jpg" class="bd-placeholder-img card-img-top" focusable="false" />

                        <div class="card-body">
                            <p class="card-text">Maroon tie.</p>
                        </div>
                    </a>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to wishlist</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to basket</button>
                            </div>
                            <small class="text">£25.99</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <a href="#" style="font-weight:inherit; text-decoration:inherit; color:inherit; cursor:inherit;">
                        <img src="https://m.media-amazon.com/images/I/51c+T7XynwL._AC_SX569_.jpg" class="bd-placeholder-img card-img-top" focusable="false" />

                        <div class="card-body">
                            <p class="card-text">Maroon shirt, kids.</p>
                        </div>
                    </a>

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to wishlist</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Add to basket</button>
                            </div>
                            <small class="text">£9.99</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row row-cols-1">
            <div class="col">
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled"><a class="page-link">Previous</a></li>
                        <li class="page-item active"><a class="page-link">1</a></li>
                        <li class="page-item"><a class="page-link">2</a></li>
                        <li class="page-item"><a class="page-link">3</a></li>
                        <li class="page-item"><a class="page-link">Next</a></li>
                    </ul>
                </nav>            
            </div>
        </div>
    </div>
</div>
