<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-8">
                <div class="card-body">
                    <h1 class="card-title">Maroon t-shirt for men</h1>
                    <p class="card-text">
                        This is a men's t-shirt, to wear on those very special Wednesdays.<br />
                        <br />
                        Specially designed and formulated by our team for optimum performance in the gym, on the toilet, or just for casual wear.<br />
                        <br />
                        Made from 100% cotton, this t-shirt is soft, comfortable, and durable. It is machine washable and can be tumble dried.<br />
                        <br />
                        Available in sizes small, medium, large, x-large, and xx-large.
                    </p>
                    <p class="text-secondary">
                        Please note that this t-shirt is not suitable for children under the age of 3 years.
                    </p>
                
                    <select class="form-select">
                        <option selected>Please choose a size</option>
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                        <option>X-Large</option>
                        <option>XX-Large</option>
                    </select>
                </div>

                <div class="card-body">

                    <label for="quantity">Quantity: </label>
                    <input id="quantity" type="range" class="custom-range" min="1" max="5" step="1" value="1" oninput="amount.value=quantity.value" />
                    <output id="amount" name="amount" for="rangeInput">1</output>
                </div>

                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary">Add to wishlist</button>
                            <button type="button" class="btn btn-secondary">Add to basket</button>
                        </div>
                        <small class="text">£12.99</small>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow-sm">
                    <img src="https://m.media-amazon.com/images/I/51c+T7XynwL._AC_SX569_.jpg" class="bd-placeholder-img card-img-top" focusable="false" />                    
                </div>
            </div>
        </div>        
    </div>
</div>
