@model Maroon.Shop.Data.Customer

@if (@Model != null)
{
    <div class="col-lg-2 d-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a id="basket-count" class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">👤 @Model.FirstName @Model.LastName</a>                
            </li>
        </ul>
    </div>
}